- c = top
- bread = []
- while !c.nil? do 
  - bread << c
  - c = c.parent

%header
  %nav
    %ul
      - bread.reverse.each do |c|
        %li
          - url = c.parent_id.nil? ? '/' : "/#{c.url}"
          %a{:href => url }
            = c.title
          = " ## "


%section
  %article
    %header
      %h1= top.title
    %p
      = CGI.unescapeHTML top.description

%section
  %article
    %header
      %h2 Sub categories
    %ul
      - top.children.each do |category|
        %li{itemscope:'', itemtype:"http://schema.org/SiteNavigationElement"}
          %a{itemprop:'url', href:"/#{category.url}"}
            %h3{itemprop:'name'}= category.title

%section
  %article
    %header
      %h2 Links
    %ul
      - top.links.each do |link|
        %li{itemscope:'', itemtype:"http://schema.org/ItemList"}
          %a{itemprop:"url", :href => link.url}
            %h3{itemprop:"name"}= link.title.empty? ? link.url : link.title
          %p{itemprop:"description"}= link.description

